* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "coiny", sans-serif;
  color: #fafaf9;
  line-height: 1;
  margin-top: 6px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}
.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center; /*vertical alignment*/
  justify-content: space-between; /*horrizontal alignment*/
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo img {
  width: 68px;
  height: 68px;
}
.fact {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #fafaf9;
  padding: 16px 24px;
  background-color: #44403c;
  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px;
}
.vote {
  margin-left: auto;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

ul {
  list-style: none;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  border: none;
  color: inherit;
  transition: 0.3s;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}
.btn-all {
  margin-bottom: 16px;
  width: 100%;
}

.btn-cat {
  width: 100%;
  background-image: none;
  margin-top: 16px;
}
